<div class="app-topstrip bg-dark text-white p-y-10 p-x-20 w-100 d-sm-flex align-items-center justify-content-between">
  <h2 class="f-s-18 m-y-8 text-lg-left text-center">Dashboard Icon</h2>

  <div class="d-flex align-items-center justify-content-center flex-wrap">

    <a mat-button class="text-white d-none d-sm-flex" href="" target="_blank">
      <div class="d-flex align-items-center gap-4">
        <i-tabler  name="lifebuoy" class="icon-20 d-flex"></i-tabler>
        Customers
      </div>
    </a>
    <a mat-button class="text-white d-none d-lg-flex" href="" target="_blank">
      <div class="d-flex align-items-center gap-4">
        <i-tabler name="gift" class="icon-20 d-flex"></i-tabler>
        Products
      </div>
    </a>
    <a mat-button class="text-white d-none d-lg-flex" href="" target="_blank">
      <div class="d-flex align-items-center gap-4">
        <i-tabler name="briefcase" class="icon-20 d-flex"></i-tabler>
        Orders
      </div>
    </a>
    <button class="d-flex align-items-center gap-4 text-white b-1 border-primary m-x-10" mat-button
            [matMenuTriggerFor]="beforeMenu">
      <div class="d-flex align-items-center gap-6">
        <i-tabler name="device-laptop" class="icon-20 d-flex"></i-tabler>
        Analysis
        <i-tabler name="chevron-down" class="icon-20 d-flex"></i-tabler>
      </div>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <a mat-menu-item href=""
         target="_blank">
        <div class="d-flex align-items-center gap-4">
          <i-tabler name="external-link" class="icon-18 d-flex"></i-tabler>
          Activities
        </div>
      </a>
      <a mat-menu-item href="" target="_blank">
        <div class="d-flex align-items-center gap-4">
          <i-tabler name="external-link" class="icon-18 d-flex"></i-tabler>
          Notifications
        </div>
      </a>
    </mat-menu>

    <button mat-mini-fab [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
      <img src="assets/images/profile/user-1.jpg" width="35" class="rounded-circle object-cover d-block" />
    </button>
    <mat-menu #profilemenu="matMenu" class="cardWithShadow topbar-dd">
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon>
        Profile
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="mail" class="icon-18 d-flex"></i-tabler></mat-icon>
        Account
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="list-check" class="icon-18 d-flex"></i-tabler></mat-icon>
        Settings
      </button>

      <div class="p-x-12 m-t-12">
        <a [routerLink]="['']" mat-stroked-button class="w-100">Logout</a>
      </div>
    </mat-menu>
  </div>
</div>
